*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ##################################################################### HEADER ######################################################### */
.header{
    height: 3.5rem;
    width: 100%;
    /* border: 2px solid red; */
    background-color: black;
}
.nav{
    height: 100%;
    width: 90%;
    /* border: 2px solid rgb(43, 187, 67); */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    height: 3rem;
    margin-top: -2px;
    display: flex;
}
.ulcontent {
    list-style-type: none;
    margin-left: 30px;
    margin-top: -35px;
  }
.nav-btn{
    display: flex;
}
.nav-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-item{
    /* border: 2px solid red; */
    margin-left: 6px;
}
.home-outline{
    /* border: 2px solid white; */
    margin-left: 50px;
    margin-right: 20px;
    padding: 5px 8px;
    border-radius: 25px;
    width: 70px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.home-outline:hover{
    transform: translate(0px, -3px);
    background-color: rgb(60, 60, 60);
}

.about-outline{
    /* border: 2px solid white; */
    margin-left: 0px;
    margin-right: 20px;
    padding: 5px 8px;
    border-radius: 25px;
    width: 70px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.about-outline:hover{
    background-color: rgb(60, 60, 60);
    transform: translate(0px, -3px);
}
.services-outline{
    /* border: 2px solid white; */
    margin-left: 0px;
    margin-right: 20px;
    padding: 5px 8px;
    border-radius: 25px;
    width: 84px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.services-outline:hover{
    background-color: rgb(60, 60, 60);
    transform: translate(0px, -3px);
}

.contact-outline{
    /* border: 2px solid white; */
    margin-left: 0px;
    margin-right: 20px;
    padding: 5px 8px;
    border-radius: 25px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.contact-outline:hover{
    /* background-color: rgb(60, 60, 60); */
    transform: translate(0px, -3px);
}
.log {
    list-style-type: none;
    display: flex;
    margin-top: 8px; /* Align items vertically centered */
}

.login-signup {
    
    text-decoration: none;
    color: rgb(255, 255, 255); /* Set text color to white */
    cursor: pointer;
}


.logout-outline{
    /* border: 2px solid white; */
    padding: 5px 15px;
    margin-right: 2 0px;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    margin-top: 2px;
}



.logout-outline:hover{
    background-color: rgb(60, 60, 60);
    transform: translate(0px, -3px);
}


/* ######################################################################## BODY ##################################################### */

.main-body{
    background-image: url("../img/background.png");
    height: 750px;
    width: 100%;
    position: relative;
}

.contact-box{
    position: absolute;
    /* border: 2px solid rgba(0, 0, 0, 0.388); */
    background-color: rgba(117, 203, 222, 0.644);
    border-radius: 25px;
    width: 50%;
    height: 85%;
    top: 10%;
    left: 5%;
    padding: 2%; 
}
.contact{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

.input-name{
    width: 70%;
    height: 9%;
    margin: 0% 15%;
    margin-top: 5%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(72, 71, 71);
    color: black;
    font-size: 1.5rem;
    padding: 2px 20px;
}
.input-message{
    width: 70%;
    height: 30%;
    margin: 0% 15%;
    margin-top: 5%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(72, 71, 71);
    color: rgba(0, 0, 0, 0.642);
    font-size: 1.5rem;
    padding: 10px 20px;
}
.send-msg{
    width: 70%;
    height: 9%;
    /* border: 2px solid black; */
    margin: 0% 15%;
    margin-top: 8%;
    border-radius: 25px;
    background-color: #12a5b8;
    text-align: center;
    padding-top: 4px;
    font-size: 1.5rem;
    cursor: pointer;
}
.send-msg a{
    text-decoration: none;
    color: black;
    /* border: 2px solid red; */
    width: 100%;
    display: block;
    padding: 6px 0px;
}
.send-msg:hover{
    background-color: #087b8a;
}




/* ########################################################### FOOTER ###################################################### */
.footer{
    height: 200px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: black;
}
.top{
    height: 20%;
    /* border: 2px solid blue; */
    color: white;
    display: flex;
    
}
.top-left{
    width: 50%;
    /* border: 2px solid red; */
}
.top-right{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: right;
}
.connected{
    font-weight: 200;
    margin-left: 5em;
    margin-top: 0.45em;
}
.bottom{
    height: 67%;
    /* border: 2px solid green; */
    display: flex;
}
.terms{
    height: 13%;
    /* border: 2px solid blue; */
}

.media{
    list-style-type: none;
    display: flex;
}
.apps{
    filter: invert(1);
    margin-right: 40px;
    margin-top: 7px;
}
.box{
    width: 25%;
    height: 100%;
    /* border: 2px solid yellow; */
    color: white;
}
.company{
    font-weight: 400;
    margin-top: 1em;
    margin-left: 5em;
    margin-bottom: 0.5rem;
}
.address{
    
    margin-left: 6em;
    font-weight: 300;
    line-height: 25px;
}

.links {
    margin-left: 6em;
    font-weight: 300;
    line-height: 25px;
}
.box2 a{
    color: white;
}
.policy{
    list-style-type: none;
    display: flex;
    color: rgb(124, 124, 124);
    justify-content: center;
}
.policy a{
    color: rgb(124, 124, 124);
    text-decoration: none;
}